body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagenes/fondo.jpg) center center;
    background-size: cover;
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: darkturquoise;border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boton-redireccion{
    background-color: rgb(247, 247, 247);
    color: crimson;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-redireccion:hover{
    background-color: rgb(192, 204, 204);
}